
<MatThemeProvider Theme="@theme1">
	<MatToastContainer />
	<MatPortalHost />
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<RouteView RouteData="@routeData" />
		</Found>
		<NotFound>
			<h1>Vier-Null-Vier</h1>
			<p>Ups! Hier gibt' nichts zu sehen...</p>
			<Covid19Dashboard.Components.HelpText></Covid19Dashboard.Components.HelpText>
		</NotFound>
	</Router>
</MatThemeProvider>

@code
        {

	MatTheme theme1 = new MatTheme()
	{
		Primary = MatThemeColors.Orange._500.Value,
		Secondary = MatThemeColors.BlueGrey._500.Value,
		Background = "#1D2224",
		Surface = "#fffaf0"
	};


}
