@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #1D2224;
	color: #fff
}

h1{
	margin-bottom: 0;
}

app {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 10px;
	max-width: 500px;
}

.main {
	flex: 1;
}

tr {
	text-align: center;
}

.last-table {
	width: 100%;
	margin-bottom:60px; /*this is so the footer wont overlay if the screen is small*/
}

.content {
	padding-top: 1.1rem;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: calc(100% - 40px);
	text-align: center;
	font-size: 10px;
	padding: 20px;
	background-color: #1D2224;
	letter-spacing: 2px;
}

a {
	color: #ff9800 !important;
}

.foreground {
	z-index: 10;
}

.mdc-icon-button .material-icons {
	color: #ff9800;
	text-shadow: 0 0 3px #000;
}

.mat-text-field {
	align-items: center !important;
}

.mat-text-field-input {
	border-radius: 5px !important;
	background-color: #607d8b55 !important;
	text-align: center;
	color: #fff !important;
	height: 55px !important;
	font-size: 33px !important;
}

.mdc-floating-label--float-above {
	/*left: 46.5% !important;*/
	transform: translateY(-135%) scale(0.75) !important;
}

.mat-autocomplete-list-wrapper {
	z-index: 20;
	margin-top: 1rem;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: #fff !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary, #6200ee) !important
}

p, h1 {
	width: 100%;
	text-align: center;
	margin: .5rem 0
}


.district {
	margin-top: 0;
	font-variant-caps: all-small-caps;
	letter-spacing: 2px;
	font-size: 1rem;
}

.rlct-container {
	margin-top: 2rem;
	margin-bottom: .5rem;
}

	.rlct-container .rlct-title {
		margin-bottom: -3rem;
		margin-top: 0px;
		font-weight: bold
	}

	.rlct-container .mdc-ripple-surface .row {
		position: absolute;
		mix-blend-mode: color-dodge;
		width: 100%;
	}


#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
}
